/* Import mixins from the "sass/mixins" file */
@import "sass/mixins";

/*-------------------------------------------*\
Headers global typography
\*-------------------------------------------*/

/* Heading 2 styles */
.h2-header {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.2rem;

    @include respond(tab-land) {
        font-size: 3.6rem;
        line-height: 4rem;
    }
}

/* Heading 3 styles */
.h3-header {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;

    @include respond(tab-land) {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
}

/* Heading 3 in paragraph styles */
.h3-paragraph {
    font-size: 1.4rem;
    line-height: 2.2rem;

    @include respond(tab-land) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

/*-------------------------------------------*\
Nav typography
\*-------------------------------------------*/

/* - navigation links in the desktop navigation */
// nav {
//     .desktop-nav__links {
//         &--secondary {
//             a {
//                 font-size: 1.4rem;
//             }
//         }

//     }
// }


/*-------------------------------------------*\
Jobs section typography
\*-------------------------------------------*/

/* Contact form header in the Jobs section */
// .jobs-section {
//     &__contact-form {
//         &--header {
//             h2 {
//                 font-size: 3.2rem;
//             }
//         }

//         /* Actual contact form typography */
//         .contact-form {
//             &__header {
//                 span {
//                     margin-bottom: 0;
//                     font-size: 1.2rem;
//                     color: #6f6f6f;
//                     font-family: speedee;
//                     font-weight: 300;
//                 }

//                 p {
//                     font-size: 1.8rem;
//                     line-height: 110%;

//                     /* Responsive - tablet landscape and above */
//                     @include respond(tab-land) {
//                         font-size: 1.84rem;
//                     }
//                 }
//             }

//             /* Input field typography in the contact form body */
//             &__body--input-field {
//                 input {
//                     font-size: 1.6rem;
//                 }
//             }

//             /* Checkbox field typography in the contact form body */
//             &__body--checkbox-field {
//                 color: #6f6f6f;
//                 font-size: 1.6rem;
//                 line-height: 2.2rem;
//             }

//             /* CTA button typography in the contact form footer */
//             &__footer--buttons {
//                 .cta-button {
//                     font-size: 1.6rem;
//                 }
//             }
//         }

//     }
// }


/*-------------------------------------------*\
Carousel section typography
\*-------------------------------------------*/

// .carousel {
//      /* Carousel content box */ 
//      &-content-box{  
//         /* heading in carousel content box */
//         h3 {
//             font-size: 2.8rem;
//             font-weight: 700;
//             line-height: 3rem;
//             margin-bottom: 25px;
//             /* Responsive - tablet landscape and above */
//             @include respond(tab-land) {
//                 font-size: 3.4rem;
//                 padding: 0 20px 0 0;
//                 line-height: 4rem;
//             }
//         }

//         /* paragraphs in carousel content box */
//         p {
//             font-size: 1.4rem;
//             font-weight: 400;
//             line-height: 2.2rem;
//             margin-bottom: 20px;
//             color: black;
//             letter-spacing: -0.15px;
//              /* Responsive - tablet landscape and above */
//             @include respond(tab-land) {
//                 font-size: 1.6rem;
//                 padding: 0 20px 0 0;
//                 line-height: 2.4rem;
//             }
//         }
//      }

// }

/*-------------------------------------------*\
Footer section typography
\*-------------------------------------------*/

/* "policy" navigation links in the footer */
// .footer {
//     &__policy-nav {
//         ul {
//             a {
//                 font-size: 1.2rem;
//                 text-decoration: none;
//                 color: #292929;

//                 /* Responsive - tablet landscape and above */
//                 @include respond(tab-land) {
//                     font-size: 1.6rem;
//                 }
//             }
//         }
//     }

//     /* "rights" content in the footer */
//     &__rights--content {
//         p {
//             font-size: 1.2rem;

//             /* Responsive - tablet landscape and above */
//             @include respond(tab-land) {
//                 font-size: 1.6rem;
//             }
//         }
//     }
// }