/* Import mixins from the "sass/mixins" file */
@import "sass/mixins";

/*-------------------------------------------*\
App section
\*-------------------------------------------*/
.app-section {
    margin-top: 100px;

    /* app offer container */
    &__offer {
        padding-bottom: 60px;


        @include respond(tab-land) {
            padding-bottom: 0;
            display: flex;
        }

        /* app offer image */
        &--image {
            display: block;
            margin-bottom: 75px;


            @include respond(s-desktop) {
                margin-bottom: 10px;
            }
        }

        /* app offer content */
        &--content {
            padding: 0 10px;


            @include respond(tab-land) {
                padding: 10px 30px;
            }

            /* Paragraphs within the app offer content */
            p {
                margin: 12px 0 32px;


                @include respond(tab-land) {
                    padding: 20px 0;
                }


                @include respond(s-desktop) {
                    padding: 10px 0;
                }
            }
        }
    }

    /*-------------------------------------------*\
    App rewards 
    \*-------------------------------------------*/

    /* app offer container */
    &__rewards {

        /* Responsive - tablet portrait and above */
        @include respond(tab-port) {
            padding: 12px;
        }


        @include respond(tab-land) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        padding-bottom: 50px;

        /* app rewards title */
        &--title {
            padding: 50px 0 100px;


            @include respond(tab-land) {
                grid-column: 1 / 3;
            }


            @include respond(s-desktop) {
                padding: 30px 0 50px;
            }
        }

        /* app prize */
        &--prize {
            padding-bottom: 60px;


            @include respond(tab-land) {
                padding-bottom: 10px;
            }

            &-image {
                display: block;
                padding-bottom: 10px;
            }
        }
    }
}

/*-------------------------------------------*\
Food menu section
\*-------------------------------------------*/

.food-menu-section {


    @include respond(tab-land) {
        margin-top: 100px;
        margin-bottom: 130px;
    }


    @include respond(s-desktop) {
        margin-bottom: 50px;
    }

    /* food menu item container */
    &__item {
        margin-bottom: 60px;


        @include respond(tab-land) {
            display: flex;
            gap: 15px;

            /* Flip the alignment of odd items in the grid */
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
                flex-direction: row-reverse;
            }
        }

        /* food menu image */
        &--image {
            display: block;
            padding-bottom: 70px;


            @include respond(tab-land) {
                width: 66.5%;
                padding: 0 10px 30px;

                img {
                    min-width: 636px;
                    min-height: 283px;
                    object-fit: cover;
                }
            }
        }

        /* food menu content */
        &--content {
            padding: 0 10px 50px;


            @include respond(tab-land) {
                width: 33.5%;
                padding: 10px;
            }

            /* paragraphs within the food menu content */
            p {
                padding: 20px 0 30px;


                @include respond(tab-land) {
                    padding: 35px 0 50px;
                }


                @include respond(s-desktop) {
                    padding: 25px 0 50px;
                }
            }
        }
    }
}

/*-------------------------------------------*\
Mcdonald news section
\*-------------------------------------------*/
.news-section .row {


    @include respond(tab-land) {
        display: flex;
        margin: 0 -10px;
    }

    /* Mcdonald news section item */
    .news-section__item {
        padding-bottom: 30px;


        @include respond(tab-land) {
            display: flex;
            flex-direction: column;
            margin: 0 12px;
        }

        /* Mcdonald news item image */
        &--image {
            display: block;
            margin-bottom: 45px;


            @include respond(tab-land) {
                margin-bottom: 40px;
            }
        }

        /* Mcdonald news item content */
        &--content {
            padding: 0 10px 50px;


            @include respond(tab-land) {
                padding: 0;
            }

            /* paragraphs within the Mcdonald news item content */
            p {
                margin: 15px 0 20px;


                @include respond(tab-land) {
                    margin: 25px 0 35px;
                }
            }
        }

    }
}

/* Mcdonald news section row1 */
.news-section .row1 {
    .news-section__item {


        @include respond(tab-land) {
            width: 50%;
        }

        &--image {


            @include respond(tab-land) {
                min-width: 488px;
                min-height: 188px;
                object-fit: cover;
            }
        }
    }
}

/* Mcdonald news section row2 */
.news-section .row2 {
    .news-section__item {
        margin-top: 100px;


        @include respond(tab-land) {
            width: 50%;
        }
    }
}

/* Mcdonald news section row3 */
.news-section .row3 {
    .news-section__item {
        &--image {
            margin-bottom: 5px;


            @include respond(tab-land) {
                margin-bottom: 15px;
            }
        }
    }
}

/* Mcdonald news section row4 */
.news-section .row4 {
    margin-top: 50px;


    @include respond(s-desktop) {
        margin-top: 100px;
    }

    .news-section__item {


        @include respond(tab-land) {
            width: 33%;
        }

        &--image {


            @include respond(tab-land) {
                min-width: 317px;
                max-height: 211px;
                overflow: hidden;
                object-fit: cover;
            }


            @include respond(s-desktop) {
                max-height: 249px;
            }

        }
    }
}

/* Mcdonald news section row5 */
.news-section .row5 {
    margin: 60px 0;


    @include respond(tab-land) {
        margin: 100px 0;
    }

    .news-section__item {


        @include respond(tab-land) {
            margin: 0;
        }

        &--content {
            margin-top: 10px;
        }
    }
}

/*-------------------------------------------*\
Jobs section
\*-------------------------------------------*/
.jobs-section {
    margin-top: 50px;
    padding: 0 15px;

    /* jobs section intro */
    &__intro {
        h3 {
            margin-bottom: 50px;
        }

        p {
            margin-bottom: 10px;
        }

        /* jobs section links */
        .links {
            display: flex;
            gap: 5px;
        }
    }

    /* jobs section contact form */
    &__contact-form {
        margin-top: 80px;

        /* jobs section contact header */
        &--header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            h2 {
                font-size: 3.2rem;
            }
        }
    }

    /* contact form */
    .contact-form {

        /* Responsive - tablet portrait and above */
        @include respond(tab-port) {
            padding: 0 40px;
        }


        @include respond(tab-land) {
            width: 80%;
            margin: auto;
        }

        /* contact form header */
        &__header {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 40px;

            span {
                margin-bottom: 0;
                font-size: 1.2rem;
                color: #6f6f6f;
                font-family: speedee;
                font-weight: 300;
            }

            p {
                font-size: 1.8rem;
                line-height: 110%;


                @include respond(tab-land) {
                    font-size: 1.84rem;
                }
            }
        }

        // Contact form body
        &__body {

            /* contact form body */
            &--input-field {

                /* contact form input fields */
                input {
                    font-size: 1.6rem;
                    border: none;
                    border-bottom: 1px solid #9b9191;
                    width: 100%;
                    padding-top: 45px;
                    padding-bottom: 5px;
                }
            }

            /* contact form checkbox fields */
            &--checkbox-field {
                color: #6f6f6f;
                font-size: 1.6rem;
                line-height: 2.2rem;
                padding-bottom: 5px;
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 15px;

                input {
                    width: 20px;
                    height: 20px;
                    appearance: none;
                    border: 2px solid #5a5a5a;
                    border-radius: 3px;
                }

                input:checked {
                    background-color: #006bae;
                }

                /* checkbox icon */
                input:checked::before {
                    font-family: FontAwesome;
                    content: "\f00c";
                    font-weight: 200;
                    color: white;
                    display: inline-block;
                    vertical-align: middle;
                    padding-left: 2px;
                }
            }
        }

        /* contact form footer */
        &__footer {
            margin-bottom: 80px;


            @include respond(s-desktop) {
                margin-bottom: 160px;
            }

            /* contact form footer buttons */
            &--buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                .cta-button {
                    font-size: 1.6rem;
                    box-shadow: 0px 1px 4px 0px rgba(102, 102, 102, 1);
                    padding: 12px 0;
                    margin-bottom: 8px;
                    width: 100%;

                    /* Responsive - tablet portrait and above */
                    @include respond(tab-port) {
                        min-width: 80px !important;
                        width: 110px;
                    }
                }
            }

            /* contact form footer content */
            &--content {
                color: #292929;

                p {
                    margin-top: 3px;
                }
            }
        }

    }
}

/* jobs section contact form row2 */
.contact-form .row2 {
    padding: 45px 0 40px;
}

/*-------------------------------------------*\
Footer
\*-------------------------------------------*/
.footer {
    padding: 0 10px 20px;


    @include respond(tab-land) {
        padding-bottom: 180px;
    }

    @include respond(s-desktop) {
        padding-bottom: 100px;
    }

    /* footer navigation row1 */
    .row1 {


        @include respond(tab-land) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }

        .footer__nav {


            @include respond(tab-land) {
                display: flex;
                padding-bottom: 20px;
            }

        }
    }

    /* footer social media icons row2 */
    .row2 {


        @include respond(tab-land) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }

        /* social media container */
        .footer__social-media {
            margin: 25px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            &--icon {
                width: 32px;
                height: 32px;
            }

        }

        /* app-store container */
        .footer__app-store {
            display: flex;
            justify-content: space-around;
            align-items: center;

            @include respond(tab-land) {
                gap: 10px;
            }


            &--logo {
                width: 132px;
                height: 43px;
            }
        }
    }

    /* footer policies navigation row3 */
    .row3 {


        @include respond(tab-land) {
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            margin-top: 50px;
        }

        /* plicy-nav container */
        .footer__policy-nav {
            margin-top: 40px;


            @include respond(tab-land) {
                width: 65%;
                margin: 0;
            }

            /* list */
            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 10px;
                a {
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: #292929;


                    @include respond(tab-land) {
                        font-size: 1.6rem;
                    }
                }

                @include respond(tab-land) {
                    justify-content: start;
                    gap: 20px;

                    .full-width {
                        width: auto;
                    }

                    li {
                        margin-right: 20px;
                    }
                }
            }

            .mobile-border {
                margin: 0 -10px 10px;


                @include respond(tab-land) {
                    display: none;
                }
            }
        }

        /* footer rights container */
        .footer__rights {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0 0;
            @include respond(tab-land) {
                padding: 0;
                margin: 0;
                width: 30%;
                align-items: start;
                gap: 10px;
            }
            p {
                font-size: 1.2rem;
                @include respond(tab-land) {
                    font-size: 1.6rem;
                }
                @include respond(s-desktop) {
                    padding-left: 30px;
                    font-size: 1.2rem;
                }
            }

            &--logo {
                width: 28px;
                height: 28px;
            }
        }
    }

    /* tab-land-border */
    .tab-land-border {
        visibility: hidden;


        @include respond(tab-land) {
            visibility: visible;
            margin: 0 -15px 10px;
        }
    }
}