/* Import mixins from the "sass/mixins" file */
@import "sass/mixins";

/*-------------------------------------------*\ 
Accordion CSS
\*-------------------------------------------*/

/* accordion container */
.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    /* Responsive - tablet landscape and above */
    @include respond(tab-land) {
        justify-content: start;
        margin-bottom: 20px;
    }

    /* accordion toggle icon */
    &::before {
        content: "+";
        float: right;
        margin-left: 5px;
        padding: 0;
        margin: 0;
        font-size: 3.6rem;

        /* Hide the toggle icon for tablet landscape and above */
        @include respond(tab-land) {
            display: none;
        }
    }

    /* accordion header */
    .h4-header {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.2rem;
        color: #292929;

        /* Responsive - tablet portrait and above */
        @include respond(tab-port) {
            font-size: 1.6rem;
        }

        /* Responsive - tablet landscape and above */
        @include respond(tab-land) {
            font-weight: 700;
        }
    }
}

/* active accordion (minus favicon) */
.active::before {
    content: "-";

    /* Hide the toggle icon for tablet landscape and above */
    @include respond(tab-land) {
        display: none;
    }
}

/* accordion panel */
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    list-style-type: none;

    /* Responsive - tablet landscape and above */
    @include respond(tab-land) {
        max-height: 100%;
    }

    /* accordion panel li */
    li {
        font-size: 1.4rem;
        margin: 12px 0;
        padding-bottom: 9px;

        /* Responsive - tablet portrait and above */
        @include respond(tab-port) {
            font-size: 1.6rem;
        }

        /* Responsive - tablet landscape and above */
        @include respond(tab-land) {
            margin: 0;
        }
    }

    /* links within the accordion panel */
    a {
        text-decoration: none;
        color: #292929;
    }
}