/* Import mixins from the "sass/mixins" file */
@import "sass/mixins";

/*-------------------------------------------*\ 
Buttons global css
\*-------------------------------------------*/

/* CTA Button Styles */
.cta-button {
    font-size: 1.4rem;
    line-height: 2rem;
    background-color: #ffbc0d;
    border-radius: 4px;
    padding: 14px 20px;
    text-align: center;
    display: inline-block;
    align-items: center;
    border: none;
    color: #292929;
    text-decoration: none;
    min-width: 180px;

    /* Responsive - tablet portrait and above */
    @include respond(tab-port) {
        font-size: 1.6rem;
    }
}

/* News section CTA button */
.news-section {
    .cta-button {
        min-width: 140px;
    }
}

/* Contact form footer CTA button */
// .contact-form__footer {
//     .cta-button {
//         width: 100%;

//         /* Responsive - tablet portrait and above */
//         @include respond(tab-port) {
//             min-width: 80px !important;
//             width: 110px;
//         }
//     }
// }


/* Mobile Navigation */
nav {
    .mobile-nav {
            /* Responsive - tablet ladscape and above */
            @include respond(tab-land) {
                display: none;
            }
        .row1 {

            .cta-button {
                min-width: 75pt;
                height: 36px;
                padding: 8px 9pt;
                line-height: 2rem;
                margin-right: 10px;
            }

            /* Burger button */
            .menu-icon {
                background-color: transparent;
                padding: 0 5px;
                border: none;
                font-size: 2.4rem;
                color: rgb(51, 51, 51);
            }
            /* X button to close the mobile menu */
            .menu-icon-close {
                display: none;
                background-color: transparent;
                padding: 0 5px;
                border: none;
                font-size: 2.4rem;
                color: rgb(51, 51, 51);
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 999;
            }

        }

        .row2 {
            .mobile-nav__links {

                /* nav links to color black */
                a {
                    color: inherit;
                }

                &--top-menu {
                    font-size: 1.4rem;
                }

                &--main-menu {
                    
                    /* menu button */
                    .mobile-menu-dropdown-button{
                        background-color: transparent;
                        color: inherit;
                        border: none;
                        font-size: inherit;
                    }


                    .view-full-menu-button{
                        min-width: 192px; 
                        margin-bottom: 35px; 
                        a{
                            justify-content: center;
                        }    
                    }
                }

                &--search-menu {
                    font-size: 1.4rem;
                     /*magnifying glass icon*/
                     i{
                        font-size: 1.7rem;
                        color: #60605b;
                     }

                }
            }
        }
    }
}






// /* Desktop Navigation */
nav {
    .desktop-nav {

        &__links--secondary__right-side {
            .cta-button {
                padding: 10px 15px;
            }
        }
    }

    /* Navigation search button */
    .nav-search-button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 1.7rem;
        color: gray;
        padding-right: 5px;
    }

    /* Navigation "Menu" drop button */
    .menu-dropdown-button {
        border: none;
        background-color: transparent;
        color: inherit;
        font-size: 1.6rem;
        cursor: pointer;

        /* Add the transition property for smooth fa-chevron-down icon rotation */
        .rotate-icon {
            transition: transform 0.3s ease;

        }
    }

    /* View full menu button styles */
    .view-full-menu-button {
        max-width: 1020px;
        background: #fff;
        border: 1px solid #adadad;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0 0.09375rem 0.09375rem 0 rgba(0, 0, 0, .08);
        box-shadow: 0 0.09375rem 0.09375rem 0 rgba(0, 0, 0, .08);
        color: #292929;
        padding: 13px 25px;
        text-align: center;
        display: inline-block;
        margin-top: 50px;

        /* overwriting grid */
        a {
            display: flex !important;
        }
    }
}