/* Import mixins from the "sass/mixins" file */
@import "sass/mixins";
/*-------------------------------------------*\
Top navigation MOBILE
\*-------------------------------------------*/

/* navigation links */
nav {
    margin-bottom: 20px;
    padding-bottom: 30px;
    /* Mobile navigation */
    .mobile-nav {
        display: flex;
        flex-direction: column;
        /* First row of the mobile navigation menu */
        .row1 {
            display: flex;
            align-items: center;
            gap: 5px;

            /* Logo styles */
            .mobile-nav__logo {
                z-index: 999;
                   /* Logo image */
                img {
                    width: 48px;
                    height: 48px;
                }
            }

            /* Toggle button container for the mobile navigation menu icon */
            .mobile-nav__menu-icon {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

        }
        /* Second row of the mobile navigation menu */
        .row2 {

            /* horizontal lines */
            hr {
                border: 0;
                border-top: 1px solid rgba(0, 0, 0, .1);
            }
            /* Mobile navigation links container */
            .mobile-nav__links {
                display: none;
                padding: 40px 13px 0 65px;
                position: absolute;
                top: 0;
                left: 0;
                background: white;
                z-index: 99;
                width: 100%;
                height: fit-content;


                  /* List items in the mobile navigation */
                li {
                    margin: 30px 0 22px 0;
                }
                 /* Main menu container in the mobile navigation */
                &--main-menu {
                     /* Button Menu */
                    .mobile-menu-dropdown-button {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        /* Default button toggle icon (+) */
                        &::after {
                            /* Default content for Font Awesome icon */
                            content: var(--button-content, "\f067");
                            /* Set the font family for Font Awesome */
                            font-family: FontAwesome;
                            float: right;
                            margin-left: 5px;
                            padding: 0;
                            margin: 0;
                            font-size: 2rem;
                            color: #60605b;
                        }

                         /* Button toggle icon when the menu is open (-) */
                        &[data-toggle="open"]::after {
                            /* Font Awesome icon for the opened menu */
                            content: "\f068";

                        }
                    }

                    /* Drop down menu container*/
                    .mobile-menu-dropdown-content {
                        /* List items in the drop-down menu container */
                        li {
                            margin: 0;

                        }
                        /* Links in the drop-down menu */
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 20px;
                            font-size: 1.4rem;
                        }
                        /* Food images in the drop-down menu */
                        figure {
                            height: 60px;
                            width: 60px;
                        }
                    }
                }
                 /* Search menu container in the mobile navigation */
                &--search-menu {
                   /*  Mobile navigation search button */
                    .mobile-nav-search-button {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }

    }
}